/* section */

.container {
   position: relative; 
   width: 600px;
   height: 800px; 
}

.poem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
}

.poem h1 {
    font-style: normal; 
    margin: 0;  
}

.writer {
    font-style: italic;
}

.italic {
    font-style: italic;
}